/* Variabes */
:root {
}

/* Functional Classes */

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* Old Semantic Classes */

.Inline {
  max-width: 480px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
